/* Estilo de la tarjeta contenedora */
.tarjeta {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    width: calc(25% - 20px); /* Para alinear 3 tarjetas en una fila */
    float: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    height: 400px; /* Altura de la tarjeta */
}

/* Estilo de imagen en la tarjeta con efecto de opacidad */
.tarjeta img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Estilo del título en la tarjeta */
.tarjeta h2 {
    font-size: 15px;
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: #36B143;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Estilo de la descripción en la tarjeta (inicialmente oculta) */
.tarjeta .descripcion {
    position: absolute;
    top: 100%; /* Mueve la descripción debajo de la imagen */
    left: 0;
    right: 0;
    /* background: #030f27B3; */
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 13px; font-family: sans-serif;
}

/* Efecto hover en la imagen y la descripción */
.tarjeta:hover img {
    filter: brightness(0.20); /* Reduce el brillo al pasar el cursor sobre la imagen */
}

.tarjeta:hover .descripcion {
    top: 0; /* Mueve la descripción encima de la imagen al pasar el cursor */
    opacity: 1;
}
